*.png
*.jpg
test_result/**
test_imgs/*
output/**
weights/**
mediapipe_results/*
template.json
data_analysis.py
change.txt
configs/faceanalysis.yaml
configs/facial_paramters.yaml
configs/imitator.yaml
configs/translator.yaml
face-parsing.PyTorch/**
facer/**
insightface/**
*/__pycache__/**
faceanalysis/parsing/DML_CSR/*.pth
faceanalysis/parsing/out_celebA/**
faceanalysis/parsing/out_celebA/out_character_femal/**
faceanalysis/parsing/out_celebA/out_character_femal_helen/**
faceanalysis/parsing/out_celebA/out_character_femal_helen_texture/**